/* DashboardNavbar.css */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
  }
  
  .navbar2 {
    position: fixed;
    top: 0;
    width: 98%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#0e233e;
    color: white;
    padding: 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin: 2vh 1%;
  }
  
  .navbar-logo2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffcc00;
  }
  
  .navbar-textfield2 {
    margin-right: 1rem;
    font-size: 1rem;
    color: white;
  }
  
 
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  @media (max-width: 768px) {
    .navbar-textfield2.mobile {
      display: none;
    }
  
    .navbar-list2.mobile {
      display: flex;
      transform: translateY(0);
    }
  
  
  }
  